@import './utils/variables';
@import './utils/utilities';
@import './utils/placeholders';
@import './components/header';
@import './components/logo';
@import './components/header-contacts';
@import './components/hero';
@import './components/specifics';
@import './components/subjects';
@import './components/team';
@import './components/social-network';
@import './components/clients';
@import './components/footer';
@import './components/footer-signup-form';
@import './components/modal';
@import './components/feedback-form';
@import './components/portfolio-section';
@import './components/portfolio-filter-button';
@import './components/portfolio-projects';
@import './components/mobile-menu'