.client {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.client__container {
    @extend %container;
    
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.client__title {
    margin-bottom: 30px;
    
    color: $titleTextColor;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    
    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.client__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    }
}

.client__item {
    width: 170px;
    height: 92px;

    @media screen and (max-width: 767px) {
        width: calc((100% - 30px) / 2);
    
        margin-right: 30px;
    
        &:nth-child(2n) {
            margin-right: 0;
        }
    
        &:nth-child(-n + 4) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 60px) / 3);

        margin-right: 30px;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(-n + 3) {
            margin-bottom: 30px;
        }
    }
}

.client__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border: 1px solid $iconColor;
    border-radius: 4px;
    transition: border $transitionTimeArgument;

        &:hover,
        &:focus {
            border-color: $accentColor;
        }
}

.client__icon {
    fill: $iconColor;
    transition: fill $transitionTimeArgument;

        .client__link:hover &,
        .client__link:focus & {
            fill: $accentColor;
        }
}



