.contact {
    display: none;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 143px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.contact__item:not(:last-child) {
    @media screen and (min-width:1200px) {
        margin-right: 30px;
    }
}

.contact__link {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: $primeryTextColor;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    text-decoration: none;
    transition: color $transitionTimeArgument;

    &:hover,
    &:focus {
        color: $accentColor;
    }

    @media screen and (min-width: 1200px) {
        padding: 32px 0;
        font-size: 14px;
        line-height: 1.14;
    }
}

.contact__icon {
    margin-right: 10px;
    fill: $iconColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact__link:hover &,
    .contact__link:focus & {
        fill: $accentColor;
    }
}