.page-header {
    position: relative;
    border-bottom: 1px solid $headerUnderline;

    &__container {
        @extend %container;
        display: flex;
        align-items: center;

        @media screen and (min-width: 480px) {
            width: 480px;
        }

        @media screen and (min-width: 768px) {
            width: 768px;
        }

        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }
}

.page-header__navigation {
    display: none;

    @media screen and (min-width:768px) {
        display: block;
    }
}

.page-header__list {
    display: flex;
    margin-left: 93px;
}

.page-header__item:not(:last-child) {
    margin-right: 50px;
}

.page-header__link {
    position: relative;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $titleTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color $transitionTimeArgument;

    &:hover,
    &:focus,
    &--current {
        color: $accentColor;
    }

    &--current::after {
        display: inline-block;
        content: '';
        position: absolute;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accentColor;
    }
}