.contact {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: auto;
    }
}

.contact__item:not(:last-child) {
    margin-right: 30px;
}

.contact__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    color: $primeryTextColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;
    transition: color $transitionTimeArgument;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.contact__icon {
    margin-right: 10px;
    fill: $iconColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact__link:hover &,
    .contact__link:focus & {
        fill: $accentColor;
    }
}