.hero {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: $heroBackground;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    max-width: 1600px;
    padding: 200px 0;
  }
}

.hero__headline {
  margin-bottom: 30px;

  color: $totallWhite;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  @extend %button;
  min-width: 200px;
  padding: 10px 32px;

  color: $totallWhite;
  background-color: $accentColor;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color $transitionTimeArgument;

  &:hover,
  &:focus {
    background-color: $buttonHover;
  }
}
