.logo {
    color: $totallBlack;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    &__web {
            color: $accentColor;
        }
}


