.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $backdropBGcolor;
    opacity: 1;
    visibility: visible;
    transition: opacity $transitionTimeArgument, visibility $transitionTimeArgument;

    padding: 94px 15px;
    overflow-y: scroll;

    z-index: 5;
}

.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: relative;
    // max-width: 450px;
    padding: 40px;
    border-radius: 4px;
    background-color: $totallWhite;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform $transitionTimeArgument;

    .backdrop--is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
    }

    @media screen and (min-width: 480px) {
        max-width: 450px;
        position: fixed;

        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    @media screen and (min-width: 1200px) {
        max-width: 528px;
    }
}

.modal__button {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;

    min-width: 30px;
    min-height: 30px;
    padding: 6px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $totallWhite;
    cursor: pointer;
}

.modal__icon {
    fill: currentColor;
    transition: fill $transitionTimeArgument;

    .modal__button:hover & {
        fill: $accentColor;
    }
}