.project {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
}

.project__item {
    width: 100%;
    min-height: auto;
    margin: 15px;
    box-shadow: none;
    transition: box-shadow $transitionTimeArgument;

        &:hover,
        &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 3);
    }
}

.project__overlay {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    color: $totallWhite;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    text-align: left;

    background-color: $projectOverlayBG;

    transform: translateY(100%);
    transition: transform $transitionTimeArgument;

        .project__link:hover &,
        .project__link:focus & {
            transform: translateY(0);
        }
}

.project__img {
    width: 100%;
    display: block;
}

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__info {
    padding: 20px 24px;

    border-right: 1px solid $projectBorder;
    border-left: 1px solid $projectBorder;
    border-bottom: 1px solid $projectBorder;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        min-height: 146px;
    }
}

.project__title {
    margin-bottom: 4px;

    color: $titleTextColor;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__desc {
    color: $primeryTextColor;
    font-size: 16px;
    line-height: 1.88;

}

.project__link {
    text-decoration: none;
}