.portfolio {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.portfolio__container {
    @extend %container;
    
        @media screen and (min-width: 480px) {
            width: 480px;
        }
    
        @media screen and (min-width: 768px) {
            width: 768px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
}

.portfolio__title {
    @extend %is-hidden;
}