.specifics {
  &__container {
    @extend %container;
  }
  
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.specifics__container {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.specifics__header {
  @extend %is-hidden;
}

.specifics__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.specifics__item {
  &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    width: calc((100% - 90px) / 4);

    &:last-child {
      margin-right: 0;
    }
  }
}

.specifics__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  // width: 100%;
  height: 120px;

  border-radius: 4px;
  background-color: $lightBackground;
}

.specifics__title {
  margin-bottom: 10px;

  color: $titleTextColor;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.specifics__desc {
  font-size: 14px;
  line-height: 1.71;
}
