.subject {
    padding-bottom: 94px;
    padding-top: 0;

        &__container {
            @extend %container;
            width: 1200px;
        }
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;        
    }
}

.subject__list {
    display: flex;
    justify-content: space-between;
}

.subject__item {
    display: flex;
    position: relative;
}

.subject__title {
    @extend %sectionTitle;
}

.subject__label {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    color: $totallWhite;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    background-color: $subjectLabelColor;
}