%container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

%is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

%button {
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

%sectionTitle {
  margin-bottom: 50px;

  color: $titleTextColor;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
