$accentColor: #2196f3;
$primeryTextColor: #757575;
$titleTextColor: #212121;
$totallWhite: #ffffff;
$totallBlack: #000000;
$backgroundColor: #2f303a;
$lightBackground: #f5f4fa;
$projectBorder: #EEEEEE;
$iconColor: #AFB1B8;
$buttonHover: #188ce8;
$heroBackground: #C4C4C4;
$headerUnderline: #ECECEC;
$subjectLabelColor: rgba(47, 48, 58, 0.8);
$transitionTimeArgument: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$backdropBGcolor: rgba(0, 0, 0, 0.2);
$projectOverlayBG: rgba(33, 150, 243, 0.9);