$accentColor: #2196f3;
$primeryTextColor: #757575;
$titleTextColor: #212121;
$totallWhite: #ffffff;
$totallBlack: #000000;
$backgroundColor: #2f303a;
$lightBackground: #f5f4fa;
$projectBorder: #eeeeee;
$iconColor: #afb1b8;
$buttonHover: #188ce8;
$heroBackground: #c4c4c4;
$headerUnderline: #ececec;
$subjectLabelColor: rgba(47, 48, 58, 0.8);
$transitionTimeArgument: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$backdropBGcolor: rgba(0, 0, 0, 0.2);
$projectOverlayBG: rgba(33, 150, 243, 0.9);
